{% extends 'base/main.html' %}
{% load static %}
{% block content %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% block title %}<title>Home</title>{%endblock%}

<div class="header-bar">
    <div class="profile-info">
        <a href="{% url 'edit_user' user.username %}">
            <img src="{% if user.profile_picture %}{{ user.profile_picture.url }}{% else %}{% static 'images/default-logo.png' %}{% endif %}"
                 class=profile-img alt="Profile Picture">
        </a>
        <h1>Hello {{ user|title }} 👋</h1>
        <h3>You have <i>{{ count }}</i> Incomplete Task{{ count|pluralize:"s" }}</h3>
    </div>

    {% if user.is_authenticated %}
    <a href=" {% url 'logout' %}">Logout<img src="https://cdn-icons-png.flaticon.com/512/4400/4400629.png"> </a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    {%endif%}
</div>


<div id="search-add-wrapper">
    <form method="GET" style="margin-top: 20px; display:flex;">
        <input type="text" name="search-area" value="{{ search_input }}">
        <input class="button" type="submit" value="Search">
    </form>
    <a id="add-link" href="{% url 'task-create' %}">&#x2b;</a>
</div>


<div class="task-items-wrapper">
    {% for task in tasks %}
    <div class="task-wrapper">
        {% if task.complete %}
        <div class="task-title">
            <div class="task-complete-icon"></div>
            <i><s><a href="{% url 'task-update' task.id %}">{{ task.title }} | Due: {{task.due_date}}</a></s></i>
        </div>
        <a class='delete-link' href="{% url 'task-delete' task.id %}">&#215;</a>
        {% else %}
        <div class="task-title">
            <div class="task-incomplete-icon"></div>
            <a href="{% url 'task-update' task.id %}">{{ task.title }} | Due: {{task.due_date}}</a>
        </div>
        <a class='delete-link' href="{% url 'task-delete' task.id %}">&#215;</a>
        {% endif %}
    </div>
    {% empty %}
    <h3>No items in list</h3>
    {% endfor %}
</div>
{%endblock%}

<!--{% block footer %}-->
<!--<footer class="footer">-->
<!--        <h2>Django To-Do Website</h2>-->
<!--</footer>-->

<!--{% endblock %}-->
