{% extends 'base/main.html' %}
{% block content %}

{% block title %}<title>Login</title>{%endblock%}

<div class="header-bar">
    <h1>Login</h1>
</div>

<div class="card-body">

    {% include 'base/messages.html' %}
    <form method='POST'>
        {% csrf_token %}

        <h3>{{ form.username.label }}:</h3>
        {{ form.username }}

        <h3>{{ form.password.label }}:</h3>
        {{ form.password }}

        <input class="button" type="submit" value="Log In">
        <a href="{% url 'social:begin' 'google-oauth2' %}?next='home/'" class="g-signin2">
            <img src="https://static.vecteezy.com/system/resources/previews/022/484/503/non_2x/google-lens-icon-logo-symbol-free-png.png" alt="Google Logo"> Login with Google
        </a>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <p> Don't have and account? <a href="{% url 'register' %} " class="register-link">Register</a></p>

    </form>
</div>


{%endblock%}
