{% extends 'base/main.html' %}
{% block content %}

{% block title %}<title>Login</title>{%endblock%}

<div class="header-bar">
    <h1>Login</h1>
</div>

<div class="card-body">

    {% include 'base/messages.html' %}
    <form method='POST'>
        {% csrf_token %}

        <h3>{{ form.username.label }}:</h3>
        {{ form.username }}

        <h3>{{ form.password.label }}:</h3>
        {{ form.password }}

        <input class="button" type="submit" value="Login">
        <p> Don't have and account? <a href="{% url 'register' %}"> Register </a></p>

    </form>
</div>


{%endblock%}
