<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}<title></title>{%endblock%}
    <link rel="website icon" type="png" href="https://cdn.pixabay.com/photo/2015/11/26/16/28/vintage-1064142_1280.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">

    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">


</head>
<body>

    <div class='container'>
        {% block content %}

        {%endblock%}

    </div>

</body>
</html>