{% extends 'base/main.html' %}
{% block content %}

{% block title %}<title>Task - {{ task.title }}</title>{% endblock %}

<div class="header-bar">
    <a href="{% url 'home' %}"> &#8592; Back </a>
</div>

<form method="POST" action="" enctype="multipart/form-data">
    <div class="card-body">
        <h3>{{ form.title.label }}:</h3>
        {{ form.title }}

        <h3>{{ form.description.label }}:</h3>
        {{ form.description }}

        <h3>{{ form.complete.label }}:</h3>
        {{ form.complete }}

        <h3>{{ form.due_date.label }}:</h3>
        {{ form.due_date }}

        <h1></h1>
        <form method="POST" action="">
            {% csrf_token %}
            <input class="button" type="submit" value="Submit">
        </form>
    </div>
</form>
{% endblock %}
